body {
    background: #B9D8FF;
}
img {
  max-width: 100%;
  display: block;
}

article {
  width: 940px;
  padding: 10px;
  border-radius: 4px;
}

.content {
  margin: auto;
  max-width: 700px;
  width: 90%;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 10px;
}
